@import "header.css";
@import "main.css";
@import "footer.css";

:root {
  --primary-background-color: #f7f7f7;
  --secondary-background-color: #ffffff;
  --primary-color: #e21;
  --primary-color-dark: #900;
  --text-color: #000;
  --subtext-color: #c6c6c6;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

body {
  display: grid;
  justify-items: center;
  gap: 60px;

  font-family: Arial, Helvetica, sans-serif;

  background: var(--primary-background-color);
  color: var(--text-color);

  margin-top: 60px;
}

p {
  font-size: 1.25rem;
  line-height: 1.25;
}

a {
  color: var(--text-color);

  text-transform: uppercase;
  text-decoration: none;
}

/* MEDIA QUERIES */

@media (prefers-color-scheme: dark) {
  :root {
    --primary-background-color: #111;
    --secondary-background-color: #000;
    --text-color: #fff;
    --subtext-color: rgba(255, 255, 255, 0.2);
    --onda: url(../img/onda-escura.svg);
  }
}
