.main-bg-bicycle {
  background: var(--color-12);
}

.main-nimbus-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  padding-block: 3.75rem;
  align-items: start;
}

.main-nimbus-container-images {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.main-nimbus-container-images img:first-child {
  min-width: 100%;
}

.main-nimbus-container-images img {
  flex: 1;
  min-width: 200px;
}

.main-nimbus-container-info-buy {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  gap: 0.5rem 0.75rem;
  margin-bottom: 2.5rem;
}

.main-nimbus-container-info-buy a {
  grid-row: span 2;
}

.main-nimbus-container-info-buy span {
  display: flex;
  align-items: center;
  background: var(--color-13);
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  gap: 0.5rem;
}

.main-nimbus-container-info > p {
  margin-bottom: 2rem;
}

.main-nimbus-container-info h2 {
  text-transform: uppercase;
  letter-spacing: 0.015rem;
  margin-bottom: 0.75rem;
}

.main-nimbus-container-info h3 {
  margin-bottom: 0.5rem;
}

.main-nimbus-container-info-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  background: var(--color-13);
  margin-bottom: 2.5rem;
}

.main-nimbus-container-info-list img {
  margin-bottom: 0.5rem;
  width: 24px;
}

.main-nimbus-container-info-list {
  padding: 2rem;
  background: var(--color-13);
  border-radius: 4px;
}

.main-nimbus-container-info-technical-list {
  padding: 2rem;
  background: var(--color-13);
  border-radius: 4px;
}

.main-nimbus-container-info-technical-list li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-12);
  padding-block: 0.25rem;
}

.main-nimbus-container-info-technical-list li:last-child {
  border-bottom: none;
}

.main-nimbus-container-info-technical-list span {
  color: var(--color-6);
}

@media (max-width: 1200px) {
  .main-nimbus-container-info > p {
    font-size: 1.125rem;
  }

  #bicycle .main-title p {
    font-size: 2rem;
  }
}

@media (max-width: 800px) {
  #bicycle .main-title p {
    text-transform: uppercase;
    font-size: 1rem;
  }

  .main-nimbus-container {
    grid-template-columns: 1fr;
    padding-block: 2.5rem;
  }

  .main-nimbus-container-images {
    grid-row: 2;
  }
}

@media (max-width: 400px) {
  .main-nimbus-container-info-buy {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .main-nimbus-container-info-list {
    grid-template-columns: 1fr;
  }
}
