.main-terms-container {
  padding-block: 5rem;
}

.main-terms-container h2 {
  font-weight: 600;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
}

.main-terms-container h2:first-child {
  margin-top: 0rem;
}

.main-terms-container p {
  max-width: 75ch;
  margin-bottom: 1.5rem;
}
