* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img[src$="jpg"] {
  border-radius: 4px;
}

::selection {
  background: var(--color-p1);
  color: var(--color-p5);
}
