.bikes {
  padding: 3.75rem 0 7.5rem;
}

.bikes h2 {
  margin-bottom: 40px;
}

.bikes-title {
  margin-bottom: 2.5rem;
}

.bikes-list {
  display: flex;
  gap: 2.5rem;
  padding: 0rem 1.25rem 1.25rem 1.25rem;
  max-width: 1400px;
  margin-inline: auto;
  overflow-x: auto;
}

.bikes-list {
  padding-bottom: 1.25rem;
}

.bikes-list li {
  flex: 1;
  min-width: 280px;
}

.bikes-list a {
  display: block;
}

.bikes-list-item img {
  margin-bottom: 1rem;
}

.bikes-list-item h3 {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.bikes-list-item h3::before {
  content: "";
  display: inline-block;
  background: var(--color-p1);
  width: 0.75rem;
  height: 0.5rem;
  margin-right: 0.5rem;
  transition: width 150ms ease-in-out;
}

.bikes-list-item:hover h3::before {
  width: 1.5rem;
}

.bikes-list-item span {
  padding-left: 1.25rem;
}

@media (max-width: 1200px) {
  .bikes-title {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .bikes {
    padding: 3.75rem 0 3.75rem;
  }

  .bikes-title {
    font-size: 2rem;
  }

  .bikes-list {
    gap: 1.25rem;
  }

  .bikes-list-item h3 {
    font-size: 1.5rem;
  }
}
