.insurances-bg {
  background: var(--color-12);
}

.insurances {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  align-items: center;
  border-radius: 0.25rem;
  padding-block: 3.75rem;
}

#insurances .insurances {
  padding-top: 0rem;
}

.insurances h2 {
  grid-column: 1 / -1;
}

.insurances-plan {
  display: grid;
  grid-template-columns: 1fr auto;
  background: var(--color-13);
  padding: 2rem 2rem 2rem 3.75rem;
  border-radius: 4px;
}

.insurances-plan h3 {
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}

.insurances-plan ul {
  grid-column: 1/-1;
  margin-bottom: 2rem;
}

.insurances-plan ul li:not(:first-child) {
  margin-top: 1.25rem;
}

.insurances-plan li {
  display: flex;
  align-items: center;
  position: relative;
}

.insurances-plan li::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 9px;
  background-image: url("../../images/icones/lista.svg");
  position: absolute;
  left: -21px;
}

.insurances-plan span {
  grid-column: 2;
  display: block;
  text-align: right;
}

.insurances-plan span span {
  text-align: right;
}

.insurances-plan ul {
  grid-row-start: 2;
}

.insurances-plan a {
  grid-column: 1/-1;
}

@media (max-width: 800px) {
  .insurances {
    grid-template-columns: 1fr;
  }

  .insurances h2 {
    font-size: 2rem;
  }

  .insurances h3,
  .insurances-plan-price {
    font-size: 1.5rem;
  }
}
